.song-container{
    height: 68vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    img{
        width: 20%;
        border-radius: 50%;
        margin-top: 2%;
        
    }
   
}